<!--<html>
<body>
	FORM TO CREATE A NEW ISSUE-->
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<script>
var markersArray = [];
function initialize()
{
//loading map and setting the marker
  var mapProp = {
    center: new google.maps.LatLng({{I_Lat}},{{I_Lng}}),
    zoom:14,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("map"),mapProp);


  map.addListener('click', function(e) {
    placeMarkerAndPanTo(e.latLng, map);
  });

//Code to set the anon flag
	if('{{I_AnonFlag}}'=='True'){
		check();
	}
	else{
	 	uncheck();
	}

//function to set I_Type
	setissuetype();
}

function placeMarkerAndPanTo(latLng, map) {
  var position = latLng;
  while (markersArray.length) {
    markersArray.pop().setMap(null);
  }
  var marker = new google.maps.Marker({
    position: latLng,
    map: map,
    draggable:true
  });
  map.panTo(latLng);
  
  markersArray.push(marker);
  var lat = marker.getPosition().lat();
  var lng = marker.getPosition().lng();
  document.getElementById("lat").value = lat;
  document.getElementById("lng").value = lng;

}

function loadScript()
{
  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyAqHobDCEl3R6O-bMyfRFz7hjQVx4LP3FI&sensor=true&callback=initialize";
  document.body.appendChild(script);
}


window.onload = loadScript;
//Function to check and uncheck Checkbox in html depending uplon the database

//functions to set the anon flag
function check() {
    document.getElementsByName("I_AnonFlag")[0].checked = true;
}

function uncheck() {
    document.getElementsByName("I_AnonFlag")[0].checked = false;
}

//function to set IssueType to selected issue type in the db
function setissuetype(){
	var type=({{I_Type}}-1).toString();
	document.getElementsByName("I_Type")[0].selectedIndex = type;
}
</script>

<div class="row">
	<div class="col-md-6 col-md-offset-1 padding-top">
		<div id="map" style="width:500px;height:380px;">
			<label>maps</label>
		</div>
		<!--
		<form>
			<button onclick="getLocation()">Use my current location</button>
			<p id="demo"></p>
		</form>
	-->
	</div>
</div>


<div class="row">
	<div class="col-md-6 col-md-offset-1 padding-top">
		<form action="#" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label for="I_Lat">Latitude:</label>
				<input type="text" name="I_Lat" class="form-control" id="lat" value="{{I_Lat}}">

				<label for="I_Lng">Longitude:</label>
				<input type="text" name="I_Lng" class="form-control" id="lng" value="{{I_Lng}}">

				<br>
				<br>
				<br>

				<label for="I_Title">Summary(title)</label>
				<input type="text" name="I_Title" class="form-control" value="{{I_Title}}">

				<label for="I_Content">Description</label>
				<textarea name="I_Content" cols="15" rows="4" class="form-control" >{{I_Content}}</textarea>

				<label for="I_Type">Type:</label>
				<select name="I_Type"  class="form-control">
    				<option value="1">Road Block</option>
    				<option value="2">Wrong Parking</option>
    				<option value="3">Illegal Garbage Dump</option>
  				</select>

				<label for="I_AnonFlag">Sensitive issue?</label>
				<input type="checkbox" name="I_AnonFlag" value="True">Keep it annoymous				
				<label for="anonymous">Don't show my name on this issue or show it on my profile page. But email me when someone comments on it</label>

				<label for="pic">Photos</label>
				<input type="file" name="file" accept="image/*" class="form-control">
				
				<div class="padding-bottom">
					<br><br></div>

				<button type="submit" class="btn btn-default" id="submit" type="submit" class="form-control">
				create</button>
				
			</div>
		</form>
	</div>
</div>


{% endblock %}


<!--</body>
</html>-->