{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<BR>
<h1>LIST OF ISSUES WITH LOGGED IN USER AS THE AUTHOR</h1>
 <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Serial No:</th>
        <th>Title</th>
        <th>Location</th>
        <th colspan="2">Votes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Anna</td>
        <td>Pitt</td>
        <td>35</td>
        <td>12</td>
      </tr>
    </tbody>
  </table>


{% endblock %}